<div id="companySection">
    <div *ngIf="company != null; then thenCompanyBlock else elseCompanyBlock"></div>
    <ng-template #thenCompanyBlock>
        <div><div>Name:</div><div> {{company.name}}</div></div>
        <div><div>Symbol:</div><div>{{company.stockExchange}}:{{company.stockSymbol}}  (<a href="javascript:void(0)" (click)="fetchStockForCompany()">Fetch</a>)</div></div>
        <div>
            <div>Sectors:</div>
            <div *ngFor="let sh of company.sectors">
                <a routerLink="/sector/details/{{sh}}">{{sh}}</a>
            </div>

        </div>
        <div>
            <div>Industries:</div>
            <div *ngFor="let sh of company.industries">
                <a routerLink="/industry/details/{{sh}}">{{sh}}</a>
            </div>

        </div>



        <br>
        <a href="https://www.google.com/search?q={{company.stockSymbol}}&tbm=fin" target="_blank">On Google</a> | 
        <a href="https://finance.yahoo.com/quote/{{company.stockSymbol}}?p={{company.stockSymbol}}" target="_blank">On Yahoo</a>
        <br>       



    </ng-template>
    <ng-template #elseCompanyBlock>
    </ng-template>

    <div>
        Key Suppliers:
    </div>
    <div>
        Key Producer For:

    </div>
</div>
<div id="stockHistorySection">
    <div *ngIf="stockHistories != null && stockHistories.length > 0; then thenStockHistoriesBlock else elseStockHistoriesBlock"></div>
    <ng-template #thenStockHistoriesBlock>
        <div class="rTable">
            <div class="rTableRow">
                <div class="rTableCell">Date</div>
                <div class="rTableCell">Open</div>
                <div class="rTableCell">Close</div>
                <div class="rTableCell">Gain</div>
                <div class="rTableCell">% Gain</div>
                <div class="rTableCell">High</div>
                <div class="rTableCell">Low</div>
                <div class="rTableCell">Volume</div>
            </div>
            <div *ngFor="let sh of stockHistories| slice:0:50;" class="rTableRow" >
                <div class="rTableCell"><a href="" routerLink="/dailyreport/{{sh.recordDateAsString}}">{{sh.recordDateAsString}}</a></div>
                <div class="rTableCell">{{sh.open|currency}}</div>
                <div class="rTableCell">{{sh.close|currency}}</div>
                <div class="rTableCell">{{sh.actual_gain|currency}}</div>
                <div class="rTableCell">{{sh.percent_gain | percent}}</div>
                <div class="rTableCell">{{sh.high|currency}}</div>
                <div class="rTableCell">{{sh.low|currency}}</div>
                <div class="rTableCell">{{sh.volume|number:'1.0-0'}}</div>
            </div>
        </div>
        <a href="javascript:void(0)" (click)="loadMoreStocks()">More</a> 
    </ng-template>
    <ng-template #elseStockHistoriesBlock>
    </ng-template>
</div>

<div id="newsSection">
    <div *ngIf="newsIems != null && newsIems.length > 0; then thenCompanyNewsBlock else elseCompanyNewsBlock"></div>
    <ng-template #thenCompanyNewsBlock>
        <div class="rTable">
            <div class="rTableRow">
                <div class="rTableCell">Date</div>
                <div class="rTableCell">Subject</div>
                <div class="rTableCell">User Rating</div>
                <div class="rTableCell">System Rating</div>
                <div class="rTableCell">Actions</div>
            </div>
            <div *ngFor="let sh of newsIems | slice:0:10;" class="rTableRow" >
                <div class="rTableCell">{{sh.recordDateAsString}}</div>
                <div class="rTableCell"><a href="{{sh.url}}">{{sh.subject}}</a></div>

                <div class="rTableCell">{{sh.userRating}}</div>
                <div class="rTableCell">{{sh.systemRating}}</div>
                <div class="rTableCell">
                    <a href="javascript:void(0)" (click)="viewNewsItem(sh)">View Text</a> 
                </div>
            </div>
        </div>
        <a href="javascript:void(0)" (click)="loadMoreNews()">More</a> 

    </ng-template>
    <ng-template #elseCompanyNewsBlock>
        <a href="javascript:void(0)" (click)="fetchNewsForCompany()">Fetch News</a>
    </ng-template>
</div>

<div id="systemActivitySection">
    <div *ngIf="systemActivities != null && systemActivities.length > 0; then thenSystemActivitiesBlock else elseSystemActivitiesBlock"></div>
    <ng-template #thenSystemActivitiesBlock>
        <div class="rTable">
            <div class="rTableRow">
                <div class="rTableCell">Date</div>
                <div class="rTableCell">Type</div>
                <div class="rTableCell">Message</div>
            </div>
            <div *ngFor="let sh of systemActivities | slice:0:10;" class="rTableRow" >
                <div class="rTableCell"><a href="" routerLink="/dailyreport/{{sh.recordDateAsString}}">{{sh.recordDateAsString}}</a></div>
                <div class="rTableCell">{{sh.activityType}}</div>
                <div class="rTableCell">{{sh.activityMessage}}</div>
            </div>
        </div>
        <a href="javascript:void(0)" (click)="loadMoreActivities()">More</a> 

    </ng-template>
    <ng-template #elseSystemActivitiesBlock>

    </ng-template>
</div>
<div *ngIf="viewedNewsItem != null" id="newsItemSection">
    <div id="newsItemUserRating">
        <select [(ngModel)]="viewedNewsItem.userRating">
            <option value="NONE">None</option>
            <option value="UNRELATED">Unrelated</option>
            <option value="POSITIVE">Positive</option>
            <option value="NEGATIVE">Negative</option>
        </select>
        <button (click)="updateUserRating()">Update User Rating</button>
    </div>
    <div id="newsItemText">
        <a href="javascript:void(0)" (click)="clearViewedNewsItem()">Clear</a> 
        <p>

            {{viewedNewsItem.body}}
    </div>
</div>