<div id="companySection">
    <div *ngIf="company != null; then thenCompanyBlock else elseCompanyBlock"></div>
    <ng-template #thenCompanyBlock>
        <div><div>Name:</div><div> {{company.name}}</div></div>
        <div><div>Symbol:</div><div>{{company.stockExchange}}:{{company.stockSymbol}}  (<a href="javascript:void(0)" (click)="fetchStockForCompany()">Fetch</a>)</div></div>
        <div>
            <div>Sectors:</div>
            <div *ngFor="let sh of company.sectors">
                <a routerLink="/sector/details/{{encodeName(sh)}}">{{sh}}</a>
            </div>

        </div>
        <div>
            <div>Industries:</div>
            <div *ngFor="let sh of company.industries">
                <a routerLink="/industry/details/{{encodeName(sh)}}">{{sh}}</a>
            </div>

        </div>



        <br>
        <a href="https://www.google.com/search?q={{company.stockSymbol}}&tbm=fin" target="_blank">On Google</a> | 
        <a href="https://finance.yahoo.com/quote/{{company.stockSymbol}}?p={{company.stockSymbol}}" target="_blank">On Yahoo</a>
        <br>       



    </ng-template>
    <ng-template #elseCompanyBlock>
    </ng-template>

    <div>
        Key Suppliers:
    </div>
    <div>
        Key Producer For:

    </div>
</div>
<div id="stockHistorySection">
    <div *ngIf="stockHistories != null && stockHistories.length > 0; then thenStockHistoriesBlock else elseStockHistoriesBlock"></div>
    <ng-template #thenStockHistoriesBlock>
        <div class="stockHistoryListGrid">
            <div *ngFor="let sh of stockHistories| slice:0:50;" class="stockHistoryCard" >
                <div style="width: 100%; overflow: hidden;">

                    <div style="float: left; width: 50%">Date:<a href="" routerLink="/dailyreport/{{sh.recordDateAsString}}">{{sh.recordDateAsString}}</a></div>
                    <div>Symbol:<a href="" routerLink="/company/details/{{sh.exchange}}-{{sh.symbol}}">{{sh.symbol}}</a></div>
                </div>
                <div style="width: 100%; overflow: hidden;">

                    <div style="float: left; width: 50%">Open:{{sh.open|currency}}</div>
                    <div>Close:{{sh.close|currency}}</div>
                </div>
                <div style="width: 100%; overflow: hidden;">
                    <div style="float: left; width: 50%">Gain:{{sh.actual_gain|currency}}</div>
                    <div>Gain %:{{sh.percent_gain | percent}}</div>
                </div>
                <div style="width: 100%; overflow: hidden;">
                    <div style="float: left; width: 50%">High:{{sh.high|currency}}</div>
                    <div>Low:{{sh.low|currency}}</div>
                </div>
                <div>Volume:{{sh.volume|number:'1.0-0'}}</div>
            </div>
        </div>
        <a href="javascript:void(0)" (click)="loadMoreStocks()">More</a> 
    </ng-template>
    <ng-template #elseStockHistoriesBlock>
    </ng-template>
</div>

<div id="newsSection">
    <div *ngIf="newsIems != null && newsIems.length > 0; then thenCompanyNewsBlock else elseCompanyNewsBlock"></div>
    <ng-template #thenCompanyNewsBlock>
        <div class="newsItemsListGrid">

            <div *ngFor="let sh of newsIems | slice:0:10;" class="newsItemCard" >
                <div style="width: 100%; overflow: hidden;">
                    <div style="float: left; width: 50%"><a href="" routerLink="/dailyreport/{{sh.recordDateAsString}}">{{sh.recordDateAsString}}</a></div>
                    <div style="float: right;"><a href="" routerLink="/company/details/{{sh.exchange}}-{{sh.symbol}}">{{sh.symbol}}</a></div>            
                </div>
                <div><a href="{{sh.url}}">{{sh.subject}}</a></div>
                <div style="width: 100%; overflow: hidden;">
                    <div style="float: left; width: 50%"><div class="user-rating-{{sh.userRating | lowercase}}">{{sh.userRating}}</div></div>
                    <div style="float: right;width: 50%; text-align: right;" ><div class="system-rating-{{sh.systemRating | lowercase}}">{{sh.systemRating}}</div></div>
                </div>
            </div>
            <div>
                <a href="javascript:void(0)" (click)="viewNewsItem(sh)">View Text</a> 
            </div>
        </div>
        <a href="javascript:void(0)" (click)="loadMoreNews()">More</a> 

    </ng-template>
    <ng-template #elseCompanyNewsBlock>
        <a href="javascript:void(0)" (click)="fetchNewsForCompany()">Fetch News</a>
    </ng-template>
</div>

<div id="systemActivitySection">
    <div *ngIf="systemActivities != null && systemActivities.length > 0; then thenSystemActivitiesBlock else elseSystemActivitiesBlock"></div>
    <ng-template #thenSystemActivitiesBlock>
        <div class="rTable">
            <div class="rTableRow">
                <div class="rTableCell">Date</div>
                <div class="rTableCell">Type</div>
                <div class="rTableCell">Message</div>
            </div>
            <div *ngFor="let sh of systemActivities | slice:0:10;" class="rTableRow" >
                <div class="rTableCell"><a href="" routerLink="/dailyreport/{{sh.recordDateAsString}}">{{sh.recordDateAsString}}</a></div>
                <div class="rTableCell">{{sh.activityType}}</div>
                <div class="rTableCell">{{sh.activityMessage}}</div>
            </div>
        </div>
        <a href="javascript:void(0)" (click)="loadMoreActivities()">More</a> 

    </ng-template>
    <ng-template #elseSystemActivitiesBlock>

    </ng-template>
</div>
<div *ngIf="viewedNewsItem != null" id="newsItemSection">
    <div style="color:white;">{{viewedNewsItem.userRating}}</div>
    <div>
        <button id="btnUserRatingNone" (click)="updateUserRating('NONE')">None</button>
        <button id="btnUserRatingUnrelated" (click)="updateUserRating('UNRELATED')">Unrelated</button>
        <button id="btnUserRatingPositive" (click)="updateUserRating('POSITIVE')">POSITIVE</button>
        <button id="btnUserRatingPositive" (click)="updateUserRating('NEGATIVE')">NEGATIVE</button>
    </div>
    <div>
        <button id="btnClose" (click)="clearViewedNewsItem()">Close</button>
    </div>

    <div id="newsItemText">
        <p>
            {{viewedNewsItem.body}}
    </div>
</div>