Industry: {{industry}}

<div>
    <div>Companies</div>
    <div *ngIf="companies != null && companies.length > 0; then thenBlock else elseBlock"></div>
    <ng-template #thenBlock>


        <div class="companyListGrid">

            <div *ngFor="let item of companies" class="companyCard" >

                <a routerLink="/company/details/{{item.id}}" class="videoListItemLink">{{item.name}} {{item.stockSymbol}}</a>


            </div>
        </div>
        <div><a href="javascript:void(0)" (click)="getMoreCompanyResults()">More Results</a></div>


    </ng-template>


    <ng-template #elseBlock>No items</ng-template>



</div>

<div>
    <div>News</div>
    <div *ngIf="newsItems != null && newsItems.length > 0; then thenCompanyNewsBlock else elseCompanyNewsBlock"></div>
    <ng-template #thenCompanyNewsBlock>
        <div class="newsItemsListGrid">
            <div *ngFor="let sh of newsItems" class="newsItemCard" >
                <div><a href="" routerLink="/dailyreport/{{sh.recordDateAsString}}">{{sh.recordDateAsString}}</a></div>
                <div><a href="" routerLink="/company/details/{{sh.exchange}}-{{sh.symbol}}">{{sh.symbol}}</a></div>            
                <div><a href="{{sh.url}}">{{sh.subject}}</a></div>
                <div>{{sh.userRating}}</div>
                <div>{{sh.systemRating}}</div>
                <div>
                    <a href="javascript:void(0)" (click)="viewNewsItem(sh)">View Text</a> 
                </div>

            </div>
        </div>
        <a href="javascript:void(0)" (click)="loadMoreNews()">More</a> 
    </ng-template>
    <ng-template #elseCompanyNewsBlock>
    </ng-template>


<div *ngIf="viewedNewsItem != null" id="newsItemSection">
    <div style="color:white;">{{viewedNewsItem.userRating}}</div>
    <div>
        <button id="btnUserRatingNone" (click)="updateUserRating('NONE')">None</button>
        <button id="btnUserRatingUnrelated" (click)="updateUserRating('UNRELATED')">Unrelated</button>
        <button id="btnUserRatingPositive" (click)="updateUserRating('POSITIVE')">POSITIVE</button>
        <button id="btnUserRatingPositive" (click)="updateUserRating('NEGATIVE')">NEGATIVE</button>
    </div>
    <div>
        <button id="btnClose" (click)="clearViewedNewsItem()">Close</button>
    </div>
       
        <div id="newsItemText">
            <p>
                {{viewedNewsItem.body}}
        </div>
    </div>

</div>