<div>
    <button id="" (click)="retrieveAvailalble()">Get Available</button>
    <button id="" (click)="performCheck()">Perform Check</button>
    <button id="" (click)="performCheckAndRebuild()">Check and Rebuild</button>
</div>

<div id="availableReports" *ngIf="availableRecords != null && availableRecords.length > 0">
    <button *ngFor="let sh of availableRecords" (click)="loadReport(sh)">{{sh}}</button>


</div>       

<div id="healthRecordSection" *ngIf="healthRecord != null">
    <div>System Analysis:<br>
        analyzed: {{healthRecord.totalNumberOfSystemAnalyzedNewsItems}}<br>
        positive: {{healthRecord.totalNumberOfPositiveSystemAnalyzedNewsItems}}<br>
        negative: {{healthRecord.totalNumberOfNegativeSystemAnalyzedNewsItems}}<br>
        unanlyzed:{{healthRecord.totalNumberOfSystemUnanalyzedNewsItems}}
    </div>
    <p>
    <div>User Analysis:<br>
        analyzed:  {{healthRecord.totalNumberOfUserAnalyzedNewsItems}}<br>
        postitive: {{healthRecord.totalNumberOfPositiveUserAnalyzedNewsItems}}<br>
        negative:  {{healthRecord.totalNumberOfNegativeUserAnalyzedNewsItems}}<br>
        unanalyzed:{{healthRecord.totalNumberOfUserUnanalyzedNewsItems}}
    </div>

    <div>
        <div>Companies with no News Item in Past 3 Days ({{healthRecord.companiesWithoutNewsItemsInPast3Days.length}}) 
            <a *ngIf="sectionOneShown == false" href="javascript:void(0)" (click)="sectionOneShown = true">Show</a><a *ngIf="sectionOneShown == true" href="javascript:void(0)" (click)="sectionOneShown = false">Hide</a>
            <div id="availableReportsNews3Days" *ngIf="sectionOneShown == true && healthRecord.companiesWithoutNewsItemsInPast3Days != null && healthRecord.companiesWithoutNewsItemsInPast3Days.length > 0">
                <div class="companyListGrid">

                    <div *ngFor="let item of healthRecord.companiesWithoutNewsItemsInPast3Days" class="companyCard" >
                        <a routerLink="/company/details/{{item}}" class="videoListItemLink">{{item}}</a>

                    </div>
                </div>

            </div>          
        </div>
        <div>
            <div>Companies with no News Item in Past 7 Days ({{healthRecord.companiesWithoutNewsItemsInPast7Days.length}})
                <a *ngIf="sectionTwoShown == false" href="javascript:void(0)" (click)="sectionTwoShown = true">Show</a><a *ngIf="sectionTwoShown == true" href="javascript:void(0)" (click)="sectionTwoShown = false">Hide</a>

                <div id="availableReportsNews7Days" *ngIf="sectionTwoShown == true && healthRecord.companiesWithoutNewsItemsInPast7Days != null && healthRecord.companiesWithoutNewsItemsInPast7Days.length > 0">
                    <div class="companyListGrid">

                        <div *ngFor="let item of healthRecord.companiesWithoutNewsItemsInPast7Days" class="companyCard" >
                            <a routerLink="/company/details/{{item}}" class="videoListItemLink">{{item}}</a>

                        </div>
                    </div>

                </div>          
            </div>
            <div>
                <div>Companies with no News Item in Past 30 Days ({{healthRecord.companiesWithoutNewsItemsInPast30Days.length}})
                    <a *ngIf="sectionThreeShown == false" href="javascript:void(0)" (click)="sectionThreeShown = true">Show</a><a *ngIf="sectionThreeShown == true" href="javascript:void(0)" (click)="sectionThreeShown = false">Hide</a>
                    <div id="availableReportsNews30Days" *ngIf="sectionThreeShown == true && healthRecord.companiesWithoutNewsItemsInPast30Days != null && healthRecord.companiesWithoutNewsItemsInPast30Days.length > 0">

                        <div class="companyListGrid">

                            <div *ngFor="let item of healthRecord.companiesWithoutNewsItemsInPast30Days" class="companyCard" >
                                <a routerLink="/company/details/{{item}}" class="videoListItemLink">{{item}}</a>

                            </div>
                        </div>

                    </div>          
                </div>

                <div>
                    <div>Companies with no Stock Histories Item in Past 3 Days ({{healthRecord.companiesWithoutStockHistoriesInPast3Days.length}})
                        <a *ngIf="sectionFourShown == false" href="javascript:void(0)" (click)="sectionFourShown = true">Show</a><a *ngIf="sectionFourShown == true" href="javascript:void(0)" (click)="sectionFourShown = false">Hide</a>
                        <div id="availableReportsStock3Days" *ngIf="sectionFourShown == true && healthRecord.companiesWithoutStockHistoriesInPast3Days != null && healthRecord.companiesWithoutStockHistoriesInPast3Days.length > 0">

                            <div class="companyListGrid">
                                <div *ngFor="let item of healthRecord.companiesWithoutStockHistoriesInPast3Days" class="companyCard" >
                                    <a routerLink="/company/details/{{item}}" class="videoListItemLink">{{item}}</a>

                                </div>
                            </div>

                        </div>          

                    </div>

                </div>
                <div>
                    <div>Companies with no Stock Histories Item in Past 7 Days ({{healthRecord.companiesWithoutStockHistoriesInPast7Days.length}})
                        <a *ngIf="sectionFiveShown == false" href="javascript:void(0)" (click)="sectionFiveShown = true">Show</a><a *ngIf="sectionFiveShown == true" href="javascript:void(0)" (click)="sectionFiveShown = false">Hide</a>
                        <div id="availableReportsStock7Days" *ngIf="sectionFiveShown == true && healthRecord.companiesWithoutStockHistoriesInPast7Days != null && healthRecord.companiesWithoutStockHistoriesInPast7Days.length > 0">


                            <div class="companyListGrid">
                                <div *ngFor="let item of healthRecord.companiesWithoutStockHistoriesInPast7Days" class="companyCard" >
                                    <a routerLink="/company/details/{{item}}" class="videoListItemLink">{{item}}</a>

                                </div>
                            </div>


                        </div>          

                    </div>

                </div>                