<div>
    Filter By
    <select [(ngModel)]="filterType" id="filterTypeId" name="filterType">
        <option value="latest">Latest</option>
        <option value="date">Date</option>
        <option value="symbol">Symbol</option>
        <option value="sector">Sector</option>
        <option value="unanalyzed">Unanalyzed</option>
    </select>
    
    <input [(ngModel)]="filterValue" type="text" id="filterValueId" name="filterValue" size="20">
    <button (click)="performInitialNewsFilter()" >Filter</button>
</div>
<div *ngIf="newsItems != null && newsItems.length > 0; then thenCompanyNewsBlock else elseCompanyNewsBlock"></div>
<ng-template #thenCompanyNewsBlock>
    <div class="rTable">
        <div class="rTableRow">
            <div class="rTableCell">Date</div>
            <div class="rTableCell">Company</div>
            <div class="rTableCell">Subject</div>
        </div>
        <div *ngFor="let sh of newsItems" class="rTableRow" >
            <div class="rTableCell"><a href="" routerLink="/dailyreport/{{sh.recordDateAsString}}">{{sh.recordDateAsString}}</a></div>
            <div class="rTableCell"><a href="" routerLink="/company/details/{{sh.exchange}}-{{sh.symbol}}">{{sh.symbol}}</a></div>            
            <div class="rTableCell"><a href="{{sh.url}}">{{sh.subject}}</a></div>
        </div>
    </div>
    <a href="javascript:void(0)" (click)="loadMoreNews()">More</a> 
</ng-template>
<ng-template #elseCompanyNewsBlock>