<div>
    Filter By
    <select [(ngModel)]="filterType" id="filterTypeId" name="filterType">
        <option value="latest">Latest</option>
        <option value="date">Date</option>
        <option value="symbol">Symbol</option>
        <option value="sector">Sector</option>
        <option value="industry">Industry</option>
        <option value="positive-user-rating">Positive User Rating</option>
        <option value="negative-user-rating">Negative User Rating</option>
        <option value="positive-system-rating">Positive System Rating</option>
        <option value="negative-system-rating">Negative System Rating</option>        
        <option value="unanalyzed">Unanalyzed</option>
    </select>

    <input [(ngModel)]="filterValue" type="text" id="filterValueId" name="filterValue" size="20">
    <button (click)="performInitialNewsFilter()" >Filter</button>
</div>

<div *ngIf="newsItems != null && newsItems.length > 0; then thenCompanyNewsBlock else elseCompanyNewsBlock"></div>
<ng-template #thenCompanyNewsBlock>
    <div class="newsItemsListGrid">
        <div *ngFor="let sh of newsItems" class="newsItemCard" >
            <div style="width: 100%; overflow: hidden;">
                <div style="float: left; width: 50%"><a href="" routerLink="/dailyreport/{{sh.recordDateAsString}}">{{sh.recordDateAsString}}</a></div>
                <div style="float: right;"><a href="" routerLink="/company/details/{{sh.exchange}}-{{sh.symbol}}">{{sh.symbol}}</a></div>            
            </div>
            <div><a href="{{sh.url}}">{{sh.subject}}</a></div>
            <div style="width: 100%; overflow: hidden;">
                <div style="float: left; width: 50%">{{sh.userRating}}</div>
                <div style="float: right;">{{sh.systemRating}}</div>
            </div>
            <div>
                <a href="javascript:void(0)" (click)="viewNewsItem(sh)">View Text</a> 
            </div>

        </div>
    </div>
    <a href="javascript:void(0)" (click)="loadMoreNews()">More</a> 
</ng-template>
<ng-template #elseCompanyNewsBlock>
</ng-template>


<div *ngIf="viewedNewsItem != null" id="newsItemSection">
    <div style="color:white;">{{viewedNewsItem.userRating}}</div>
    <div>
        <button id="btnUserRatingNone" (click)="updateUserRating('NONE')">None</button>
        <button id="btnUserRatingUnrelated" (click)="updateUserRating('UNRELATED')">Unrelated</button>
        <button id="btnUserRatingPositive" (click)="updateUserRating('POSITIVE')">POSITIVE</button>
        <button id="btnUserRatingPositive" (click)="updateUserRating('NEGATIVE')">NEGATIVE</button>
    </div>
    <div>
        <button id="btnClose" (click)="clearViewedNewsItem()">Close</button>
    </div>
       
        <div id="newsItemText">
            <p>
                {{viewedNewsItem.body}}
        </div>
    </div>