<input [(ngModel)]="searchTerm" placeholder="searchTerm"/> <br>
<input type="radio" name="searchtype" value="symbol" [(ngModel)]="searchType">Symbol
<input type="radio" name="searchtype" value="name" [(ngModel)]="searchType">Name
<button (click)="doSimpleSearch()">Search</button><br>

<div *ngIf="searchCompanyItems != null && searchCompanyItems.length > 0; then thenBlock else elseBlock"></div>
<ng-template #thenBlock>
    <h2>Companies</h2>

    <div class="companyListGrid">

        <div *ngFor="let searchItem of searchCompanyItems" class="companyCard" >
            <a routerLink="/company/details/{{searchItem.id}}" class="videoListItemLink">{{searchItem.name}} {{searchItem.stockSymbol}}</a>

        </div>
    </div>
    <div><a href="javascript:void(0)" (click)="getMoreCompanyResults()">More Results</a></div>


</ng-template>


<ng-template #elseBlock>No items match your search</ng-template>

